.map {
    height: 400px;
    width: 50%;
    margin: auto;
  }

  body {
      background-color: #24272E;
  }

  div.zip {
      display: flex;
      justify-content: center;
  }
  .location {
      background-color: #24272E;
      border-color: #24272E;
      color: white;
  }
  
  .forecast {
      color: white;
      text-align: center;
  }